.header_logo {
  width: 20vw;
  height: 4vw;
  padding-right: 10%;
}
.header {
   /* flexboxの設定 */
   display: flex;
   justify-content: flex-start;
   /* フォントや色の設定 */
   font-size: 1.3vw;
   background-color: #ffffff;
   height: auto;
}
.header-menu {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    text-align: center;
}
.header-menu__item {
    margin: 0 25px;
    text-decoration: none;
    font-weight: bold;
    padding: 1px;
}
.photoshow {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
#img-NEWS {
  width: 10vw;
  margin-top: auto;
}
