.header_logo {
  width: 20vw;
  height: 4vw;
  padding-right: 10%;
}
.header {
   /* flexboxの設定 */
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* フォントや色の設定 */
   font-size: 1.3vw;
   background-color: #ffffff;
   height: auto;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-align: center;
}
.header-menu__item {
    margin: 0 2rem;
    text-decoration: none;
    font-weight: bold;
    /*padding: 1px;*/
}
.photoshow {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
#img-NEWS {
  width: 10vw;
  margin-top: auto;
}
.flex {
  display: flex; /*横並び*/
  box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, .5);
}
.flex .image {
  /*画像サイズ指定*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.flex .left {
  margin: 0 0 0 20px;
  padding: 0;
}
.flex .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 3vw;
  color: #FFFFFF;
}
.flex .name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2.5vw;
  color: #FFFFFF;
}
.flex .text {
  margin: 10px 10px 0 0;
  padding: 0;
  font-size: 2vw;
  color: #FFFFFF;
}
.flex .image {
  overflow: hidden;
  position: relative;
}
.flex .image::before {
  content: "";
  display: block;
  padding-top: 58%;
}
.flex .image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.product {
  display: flex;
}
.product .image {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}
.product .left {
  margin: 0 0 0 20px;
  padding: 0;
}
.product .title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 3vw;
  color: #FFFFFF;
}
.product .name {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2.5vw;
  color: #FFFFFF;
}
.product .text {
  margin: 10px 10px 0 0;
  padding: 0;
  font-size: 2vw;
  color: #FFFFFF;
}
.product .image {
  overflow: hidden;
  position: relative;
}
.product .image::before {
  content: "";
  display: block;
  padding-top: 58%;
}
.product .image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.robopro {
  box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, .5);
}

.robopro .title {
  margin: 0 0 0 20px;
  padding: 0;
  font-weight: bold;
  font-size: 3vw;
  color: #000000;
}
.robopro .text {
  margin: 10px 10px 0 20px;
  padding: 0;
  font-size: 2vw;
  color: #FFFFFF;
}
.bloghome {
  display: flex; /*横並び*/
}
.bloghome .top {
  margin: 0 0 0 20px;
  padding: 0;
}
.blogstyle {
  display: flex; /*横並び*/
}
.blogMenu .con {
  display: flex; /*横並び*/
  margin-left: auto;
  width: 100%;
}
.bloghome .top .newblog {
  box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, .5);
}
.bloghome .top .newblog .title {
  margin: 0 0 0 20px;
  padding: 0;
  font-weight: bold;
  font-size: 3vw;
  color: #000000;
}
.bloghome .top .newblog .subtitle {
  margin: 0 0 0 20px;
  padding: 0;
  font-weight: bold;
  font-size: 2.5vw;
  color: #000000;
}
.bloghome .top .newblog .day {
  margin: 0 0 0 20px;
  padding: 0;
  font-weight: bold;
  font-size: 2vw;
  color: #aaaaaa;
}
.bloghome .top .newblog .text {
  margin: 0 20px 0 20px;
  padding: 0;
  font-size: 2.1vw;
  color: #000000;
}
.openhomeimage {
  position: relative;
  z-index: 1;
}
.openhomecon1 {
  position: absolute;
  box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, .5);
  top: 50vw;
  left: 10vw;
  width:18vw;
  background-color:#000000;
  z-index: 2;
}
.openhomecon2 {
  position: absolute;
  box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, .5);
  top: 60vw;
  left: 30vw;
  width:18vw;
  background-color:#000000;
  z-index: 2;
}
.openkizi {
  margin-top: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, .5);
}
.openkizi .title {
  margin: 0 0 0 1vw;
  padding: 0;
  font-weight: bold;
  font-size: 3vw;
  color: #000000;
}
.openkizi .subtitle {
  margin: 2vw 0 0 1vw;
  padding: 0;
  font-weight: bold;
  font-size: 2.5vw;
  color: #000000;
}
.openkizi .text {
  margin: 0 3vw 0 3vw;
  padding: 0;
  font-size: 2vw;
  color: #000000;
}
.openkizi .picture {
  margin: 0 0 0 1vw;
  padding: 0;
  font-size: 1.5vw;
  color: #AAAAAA;
}
a.productbto {
  display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 20vw;
  font-size: 2vw;
  margin:10 0 10 10;
	padding: 1vw 1vw;
	font-weight: bold;
	background: linear-gradient(to top, rgb(255, 255, 0), #ffa500);
	color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	transition: 0.5s;
}

a.productbto:hover {
  color: #fff;
	opacity: 0.5;
}
